<ion-view title="Candidate Profiles">
    <ion-content class="has-header">
        <img src="img/{{candidate.photo_url}}">
        <h1>{{candidate.name}}</h1>
        <img src="img/{{candidate.party_url}}">
        <a ng-if="candidate.url_Twitter" href="http://twitter.com/{{candidate.url_Twitter}}" class="button icon ion-social-twitter button-{{candidate.party_color}}" title="Twitter"></a>
        <a ng-if="candidate.url_FB" href="http://www.facebook.com/{{candidate.url_FB}}" class="button icon ion-social-facebook button-{{candidate.party_color}}" title="Facebook"></a>
        <a ng-if="candidate.url_Site" href="{{candidate.url_Site}}" title="Candidate Website" class="button icon ion-link button-{{candidate.party_color}}"></a>
        <a ng-if="candidate.email" href="mailto:{{candidate.email}}" title="Email Candidate" class="button icon ion-email button-{{candidate.party_color}}"></a>
        <a href="/app/donate" title="Paypal Donation" class="button button-{{candidate.party_color}} icon-left ion-card">DONATE</a>

        <p>{{candidate.txt_About}}</p>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>
    </ion-content>
</ion-view>