<ion-view title="Optional demographic questions">
  <ion-content class="has-header">
    <h1 id="question"><i class="ion-clipboard"></i>One last step...
	</h1>
	<div class="list">
	  <label class="item item-input item-select">
		<div class="input-label">
		  What is your gender?
		</div>
		<select>
		  <option>Male</option>
		  <option>Female</option>
		</select>
	  </label>
	  <label class="item item-input item-select">
		<div class="input-label">
		  What is your age?
		</div>
		<select>
		  <option>18-29 years old</option>
		  <option>30-49</option>
		  <option>50-64</option>
		  <option>65 years and over</option>
		</select>
	  </label>
	  <label class="item item-input item-select">
		<div class="input-label">
		  Education
		</div>
		<select>
		  <option>some high school</option>
		  <option>high school graduate</option>
		  <option>some college</option>
		  <option>trade/technical/vocational training</option>
		  <option>college graduate</option>
		  <option>some postgraduate work</option>
		  <option>post graduate degree</option>
		</select>
	  </label>
	  <label class="item item-input item-select">
		<div class="input-label">
		  Political view
		</div>
		<select>
		  <option>very conservative</option>
		  <option>conservative</option>
		  <option>moderate</option>
		  <option>liberal</option>
		  <option>very liberal</option>
		</select>
	  </label>
</div>
<button class="button icon-right ion-chevron-right button-full button-positive">
		  and your most likely candidate is...
		</button>
  </ion-content>
</ion-view>
