<ion-view title="CandidateFinder">
  <ion-content class="has-header">
  <div class="list">
	  <a class="item item-icon-left" href="#/app/candidateList">
		<i class="icon ion-document-text"></i>
		Candidate Listing
	  </a>
	  <a class="item item-icon-left" href="#/app/question">
		<i class="icon ion-ios7-search-strong"></i>
		Match Finder
	  </a>
	 <a class="item item-icon-left" href="#">
		<i class="icon ion-mic-a"></i>
		<strike>Who said that?</strike>
	  </a>
	  <a class="item item-icon-left" href="#">
		<i class="icon ion-person-stalker"></i>
		<strike>Ward #91 Statistics</strike>
		<span class="badge badge-assertive">3</span>
	  </a>
	<div class="item item-divider">Latest Election News</div> <!-- dump open RSS feeds here-->
	  <a class="item" href="http://www.cbc.ca/news/canada/toronto/ontario-votes-2014/andrea-horwath-says-she-will-never-support-hudak-job-cuts-plan-1.2660716">Andrea Horwath says she 'will never support' Hudak job cuts plan</a>	
	  <a class="item" href="http://www.cbc.ca/news/canada/toronto/ontario-votes-2014/ontario-election-2014-4-ottawa-area-battlegrounds-1.2660020">Ontario election watchers pick 4 Ottawa-area battleground riding</a>	
	  <a class="item" href="http://www.cbc.ca/news/canada/toronto/ontario-votes-2014/ontario-election-2014-vote-compass-users-rate-leaders-on-trust-1.2658733">Vote Compass users rate Ontario leaders, parties on trust</a>	
	  <a class="item" href="#">Margret Atwood again publically declines participation in MPP Election</a>	
	</div>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
