<ion-view title="Party Donation">
    <ion-content class="has-header">
		<img src="img/party_PC_logo_BIG.png" width=100% style="vertical-align:bottom;">
        <h1> Donate now and make the difference</h1>
        
		<div class="card">
		<div class="list">

		  <label class="item item-input item-select">
			<div class="input-label">
			  Donation Amount
			</div>
			<select>
			  <option>$5.00</option>
			  <option selected>$10.00</option>
			  <option>$25.00</option>
			  <option>$50.00</option>
			  <option>$100.00</option>
			  <option>$400.00</option>
			  <option>$800.00</option>
			</select>
		  </label>
		</div>
     <p>By donating I confirm that I am a citizen or permanent resident of Canada and I am making this contribution with personal funds (not business funds).</p>
        <a href="#/app/donate" title="Paypal Donation" class="button button-positive button-full icon-left ion-card">Donate with Paypal</a>
		</div>

    </ion-content>
</ion-view>