<ion-view title="Question 1 of 20">
  <ion-content class="has-header">
    <h1 id="question">The Toronto Airport Expansion <i class="ion-paper-airplane"></i></h1>
	<div class="row">
		<div class="col">
			<button class="icon-left ion-checkmark-circled button button-large col">For</button>
		</div>
		<div class="col">
			<button class="icon-right ion-close-circled button-large button col">Against</button>
		</div>
	</div>
	<div class="list">
  <div class="item item-divider">and this is...</div>
  <label class="item item-radio">
    <input type="radio" name="relevance">
    <div class="item-content">Irrelevant to me</div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="relevance">
    <div class="item-content">A little important</div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="relevance">
    <div class="item-content">Somewhat important</div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="relevance">
    <div class="item-content">Very important</div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
  <label class="item item-radio">
    <input type="radio" name="relevance">
    <div class="item-content">Mandatory</div>
    <i class="radio-icon ion-checkmark"></i>
  </label>
</div>
<button class="button icon-right ion-chevron-right button-full button-positive">
		  Next
		</button>
  </ion-content>
</ion-view>
